streamlit==1.36.0
streamlit-webrtc==0.47.1
streamlit_mic_recorder==0.0.31
SpeechRecognition==3.10.1
deep-translator==1.11.4
langdetect==1.0.9
python-dotenv==1.0.0
groq==0.4.2
gTTS==2.4.0
yt-dlp==2024.1.1
pydub==0.25.1
ffmpeg-python==0.2.1
